@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #303950, #9DF9FE);
    min-height: 100vh;
}

.container {
    width: 340px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #f2ecec;
    box-shadow: 0 0 10px rgb(37, 40, 40);
    border-radius: 17px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.container:hover {
    width: 350px;
    height: 270px;
    color: wheat;

}

h3 {
    color: black;
    font-size: 36px;
    user-select: none;
}

span {
    color: #122620;
}

.btn {
    font-size: 18px;
    padding: 5px;
    width: 93px;
    text-transform: capitalize;
    margin-right: 4px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    transition: transform 0.5s;
    border: none;
    user-select: none;
}

.btn:hover {
    transform: scale(1.1);
}

.result {
    font-size: 80px;
    font-weight: 500;
    user-select: none;

}

.btn:active {
    transform: translateY(6px);
}

.btn:nth-child() {
    margin: 0;
}

.decrease {
    background-color: #F51720;
}

.reset {
    background-color: #868B8E;
}

.increase {
    background-color: #81B622;
    ;
}
